<div class="container">
  <app-navbar></app-navbar>
  <div class="row">
    <div class="col-md-6">
      <app-dialogflow></app-dialogflow>
    </div>
    <div class="col-md-6">
      <h3 style="text-align: center"><b>Summary</b></h3>
      <div *ngFor="let element of questionArray, let i = index">
        <p><b>Q{{i+1}}. </b> {{element.question}}</p>
        <p><b>Your Answer:</b>{{element.response}}</p>
        <p><b>Correct Answer:</b> {{element.answer}}</p>
        <!-- <br> -->
      </div>
      <hr>
      <div style="text-align: center">
        <h3><b> Results</b> </h3>
        Your Score:{{ans?.score}}
        <br>
        Maximum Score: {{ans?.total}}
      </div>
    </div>
  </div>
</div>