<!-- <nav class="navbar navbar-expand-lg navbar-light bg-warning"> -->
<!-- <div class="collapse navbar-collapse" id="navbarNavAltMarkup"> -->
<div class="navbar">
  <div class="container" style="width: 100%">
    <div class="row" style="text-align: center">
      <div class="col-md-2">
        <div class="logoText">Student<br>Chatbot</div>
      </div>
      <a class="col-md-2"></a>
      <a class="col-md-2" routerLink="/resources">Resources</a>
      <a class="col-md-2" routerLink="/test-select">Tests</a>
      <a class="col-md-2">Stats</a>
      <a class="col-md-2" routerLink="/user-details">My Profile</a>
    </div>
  </div>
</div>
<!-- </div>
 </nav> -->
