<div *ngIf="questionArray">

  <form [formGroup]="questionsForm" (ngSubmit)="onSubmit()">
    <div formArrayName="arr">
      <div *ngFor="let item of questionArray; let i=index " [formGroupName]="i">
        <label for="question">{{item.question}}</label>
        <br>
        <input type="radio" formControlName="option" [value]="item?.options[0]">{{item?.options[0]}}
        <br>
        <input type="radio" formControlName="option" [value]="item?.options[1]">{{item?.options[1]}}
        <br>
        <input type="radio" formControlName="option" [value]="item?.options[2]">{{item?.options[2]}}
        <br>
        <input type="radio" formControlName="option" [value]="item?.options[3]">{{item?.options[3]}}
        <br>
      </div>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>